.form-control.login-user {
  border: 0px solid #fff !important;
}

.center-register{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 350px;
    margin-top: -150px;
    border: 1px solid #cccc;
    padding: 30px;
}
